body {
  font-family: "Montserrat", sans-serif;
  margin-top: 60px;
}
h1 {
  font-size: 40px;
  line-height: 56px;
  font-weight: 400;
}
h2 {
  font-size: 36px;
  line-height: 52px;
  font-weight: 400;
}
.h2-about {
  color: rgb(182, 71, 71);
}
h3 {
  font-size: 30px;
  line-height: 52px;
  font-weight: 400;
}
p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}
.contact-text {
  font-size: 20px;
  line-height: 40px;
  text-align: left;
}
.cart-modal-text {
  font-size: 22px;
  line-height: 40px;
}
hr {
  margin-top: 50px;
}
.copyright {
  font-size: 12px;
}
.navbar-nav {
  margin-right: 5%;
}
.navbar-toggler {
  margin-right: 10%;
}
.navbar-brand {
  font-family: "Playfair Display", serif;
  font-size: 26px;
  border: 1px solid black;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.iconClass {
  position: relative;
}
.iconClass div {
  position: absolute;
  background: red;
  color: #fff;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  font-size: 12px;
  font-weight: 700;
  top: -2px;
  right: -2px;
  text-align: center;
  visibility: hidden;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  background-color: #ffdd6f;
}
.cover {
  width: 100%;
  min-height: 100%;
  height: auto;
  cursor: pointer;
  object-fit: cover;
  overflow: hidden;
}
.modal-body img {
  width: 100%;
  height: auto;
}
.modal-title {
  font-weight: 200;
  font-size: 2em;
}
.products-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  vertical-align: middle;
  text-align: center;
  padding: 1em;
  border-top: 2px solid #f1dfa2;
}
.product-title {
  font-weight: 200;
  font-size: 1.5em;
  padding-bottom: 16px;
  text-align: center;
  border-bottom: 4px solid #b0d4da;
}
.product-buttons {
  padding: 0.5em;
}
.product-total {
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 1.5em;
  padding: 0.5em;
}
.product-price {
  font-weight: 400;
  font-size: 1.5em;
  padding: 0.5em;
}
.product-price-modal {
  position: absolute;
  left: 0;
  font-weight: 400;
  font-size: 1.5em;
  padding: 0.5em;
}
@media (max-width: 768px) {
  .products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: #ffdd6f;
  }
}
@media (min-width: 1400px) {
  .container-main-about {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}
.grid-section-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-image: url(../img/index_bkg.webp);
  background-size: cover;
  background-position: center;
  min-height: 500px;
}
.grid-section-1-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-image: url(../img/about_bkg.webp);
  background-size: cover;
  background-position: center;
  min-height: 500px;
}
.grid-section-1-contact {
  display: grid;
  grid-template-columns: 1fr;
  background-color: rgb(255, 255, 255);
}
.grid-section-2 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding-top: 1em;
}
.grid-section-2-about {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding-top: 1em;
}
@media (min-width: 1400px) {
  .grid-section-2-about {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-left: 1em;
    padding-top: 0;
  }
}
.grid-section-2-contact {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  background-image: url(../img/contact_bg.webp);
  background-size: cover;
  background-position: left;
  min-height: 400px;
}
@media (min-width: 1400px) {
  .grid-section-2-contact {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-left: 2em;
  }
}
.grid-section-3 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.grid-section-1-item {
  text-align: left;
  max-width: 780px;
  padding: 3em;
}
.grid-section-1-item-about {
  background-color: #ffffffa8;
  text-align: left;
  max-width: 780px;
  padding: 3em;
}
.grid-section-1-item-contact {
  background-color: #ffffffa8;
  text-align: left;
  padding: 3em;
}
.grid-section-2-item {
  background: #eee;
  border-top: 6px solid #ffd519;
  text-align: center;
  padding: 3em;
}
.grid-section-2-item-contact {
  background: #000000a6;
  color: burlywood;
  max-width: 340px;
  text-align: center;
  padding: 3em;
}
.grid-section-3-item {
  background: #b0d4da;
  text-align: center;
  padding: 3em;
}
.grid-section-3-banner {
  background: #eee;
  border-top: 6px solid #b0d4da;
  position: relative;
  width: 100%;
  height: 360px;
  overflow: hidden;
  margin-top: 1em;
}
.grid-section-3-banner img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 100%;
}
.footer {
  background-color: darkgrey;
}
.grid-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  padding: 3em;
}
.grid-footer-item {
  text-align: left;
}
.grid-footer-item .float-left {
  float: left;
}
@media (min-width: 500px) {
  .grid-footer-item .float-left {
    margin-left: 20px;
  }
}
.grid-footer-item .footer-insta {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin: 0.2em;
  float: left;
}
.grid-footer-item .footer-insta img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  max-height: 100%;
}
.grid-footer-item ul {
  --icon-space: 1.5em;
  list-style: none;
  padding: 0;
}
.grid-footer-item li {
  padding-left: var(--icon-space);
}
.grid-footer-item .spacer {
  margin-top: 20px;
}
.grid-footer-item .location:before {
  content: "\f3c5";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: calc(var(--icon-space) * -1);
  width: var(--icon-space);
}
.grid-footer-item .twitter:before {
  content: "\f099";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: calc(var(--icon-space) * -1);
  width: var(--icon-space);
}
.grid-footer-item .phone:before {
  content: "\f095";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: calc(var(--icon-space) * -1);
  width: var(--icon-space);
}
.grid-footer-item .mail:before {
  content: "\f0e0";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: calc(var(--icon-space) * -1);
  width: var(--icon-space);
}
.grid-footer-item .home:before {
  content: "\f015";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: calc(var(--icon-space) * -1);
  width: var(--icon-space);
}
.grid-footer-item .tweets {
  font-family: "Source Serif Pro", serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}
.btn.btn-warning {
  font-weight: 500;
}
.btn.btn-warning:hover {
  background-color: #ffdd6f;
}
.hide {
  visibility: hidden;
}
.cart-badge {
  position: absolute;
  top: -1px;
  right: 8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  padding: 2px;
  color: #fff;
  background-color: red;
}
.cart-nav {
  position: absolute;
  top: 15px;
  right: 17px;
  margin-bottom: 5px;
  color: rgb(112, 112, 112);
  z-index: 1031;
}
.cart-nav:hover {
  color: rgb(92, 92, 92);
}
@media (max-width: 768px) {
  .grid-footer {
    grid-template-columns: repeat(1, 1fr);
  }
}
.list-group {
  padding: 0;
  margin-top: 10px;
  list-style-type: none;
}
